@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
    /* border: 1px solid red; */
}
/* HEADER COMPONENT */
.header{
    @apply flex justify-between items-center bg-slate-300 px-8 py-3
}
.logo{
    @apply text-xl font-semibold text-gray-800 w-fit
}
.navbar{
    @apply flex space-x-10 ml-20
}
.navbar .link{
    @apply font-semibold text-gray-700 cursor-pointer px-3 
}
.navbar .link:hover{
    @apply text-gray-800 text-lg
}
.xra{
    @apply flex space-x-6 items-center 
}
.search input{
    @apply outline-none w-[15.6rem] p-2 bg-transparent border border-white  
}
.auth{
    @apply flex space-x-2 items-center
}
.auth p{
    @apply cursor-pointer font-medium text-gray-600
}
/* HOME COMPONENT */
.banner{
    @apply w-full 
}
.banner .banner_img{
    @apply w-[100%] mx-auto
}
.banner_img img{
    @apply w-[100%] h-[30rem] opacity-80
}
.banner_text{
    @apply mx-auto absolute top-[37%] left-[35%] text-center text-white
}
.banner_text .head{
    @apply font-normal text-3xl mb-3 py-3
}
.banner_text .txt{
    @apply font-semibold text-7xl mb-5 py-2
}
.banner_text .ban_btn{
    @apply text-black bg-white border px-3 py-2 w-fit mx-auto cursor-pointer
}
.banner_text .ban_btn:hover{
    @apply text-white bg-transparent
}
.cta{
    @apply flex justify-between mt-8 px-24
}
.cta .cta_text{
    @apply text-2xl font-medium border border-black px-2 py-4 w-fit
}
/* SHOP PRODUCT COMPONENT */
.products{
    @apply grid grid-cols-3 gap-5 col-span-4 mt-[6rem] w-full mx-auto 
}
.prod_sec{
    @apply border w-fit mx-auto
}
.prod_sec .name{
    @apply text-lg w-fit py-5 float-right mx-5 cursor-pointer
}
.prod_sec .img{
    @apply w-[23rem]
}
.prod_sec .dress_type{
    @apply text-xl font-semibold mx-auto py-5 px-6 cursor-pointer
}
/* PRODUCT ADS */
.ads{
    @apply flex justify-between mt-[7rem]
}
.ads_box{
    @apply flex space-x-4 border-none bg-slate-300 items-center px-10 pt-5
}
.ads_text{
}
.ads_box .left{
    @apply text-right
}
.ads_box .right{
    @apply text-left
}
.ads_text .head{
    @apply text-amber-600 text-2xl font-normal pb-5
}
.ads_text .coll{
    @apply text-black text-5xl font-medium pb-5
}
.ads_text .ads_btn{
    @apply border border-amber-600 text-amber-600 font-medium bg-transparent py-2 px-3 w-fit cursor-pointer
}
.ads_btn:hover{
    @apply bg-amber-600 text-black
}
.ads_box .left .ads_btn{
    @apply float-right
}

.ads_box img{
    @apply w-[10rem]
}
.top_text{
    @apply text-center text-4xl font-semibold mb-5
}
.trending{
    @apply mt-8
}
.prod_container{
    @apply grid grid-cols-4 gap-8 px-4
}
.real_prod{
    @apply border pt-3
}
.real_prod img{
    @apply w-[13em] mx-auto
}
.real_prod .abt_prod{
    @apply border-t 
}
.abt_prod p{
    @apply text-center py-1
}
.abt_prod .prod_btn{
    @apply flex justify-between 
}
.prod_btn p{
    @apply border px-2 py-1 cursor-pointer mt-2
}
footer{
    @apply mt-20
}
.footer{
    @apply flex space-x-5 bg-slate-300 px-9 py-12 w-full
}
.abt_comp_foot{
  @apply w-[32%] 
}
.abt_comp_foot .comp_text{
    @apply pt-2 pb-6
}
.abt_comp_foot p{
    @apply space-y-4
}
.footer_links{
    @apply flex justify-around w-[55%] px-10
}
.footer_links ul .top{
    @apply text-xl font-semibold mb-3
}
.footer_links ul li{
    @apply text-base font-serif pb-2 px-2 cursor-pointer 
}
.footer_links ul li:hover{
    @apply text-lg font-medium
}
.footer_newletter{
    @apply pt-8 w-[25%]
}
.form h4{
    @apply text-xl pb-3 font-medium
}
.form input{
    @apply outline-none border-b-2 bg-transparent w-full px-2 py-1 mb-1 
}
.form .form_btn{
    @apply mt-3 px-2 py-1 w-full cursor-pointer bg-amber-600
}
.form .form_btn:hover{
    @apply bg-transparent text-amber-600 border-amber-600 border
}
.site_bottom{
    @apply flex justify-between bg-slate-300 border-t-2 border-white px-9 py-2
}


/* STORE COMPONENT */
.store{
    @apply grid grid-cols-4 gap-6
}
aside{
    @apply pt-10
}
.aside_boxes{
    @apply border-b-2 border-gray-400 py-5
}
.aside_boxes:last-child{
    @apply border-none
}
.filter_top{
    @apply text-2xl font-semibold pb-3
}
.filter_cat div{
    @apply p-2 flex justify-between items-center
}
.filter_cat div span{
    @apply text-sm
}
.store_items{
    @apply col-start-2 col-end-5 pt-10 border-2 border-red-400
}
.items_top{
    @apply flex justify-between items-center px-3 border border-red-500
}
.items_store{
    @apply grid grid-cols-3 gap-7 px-3 border border-red-500
}